<div class="container">
  <div class="row">

    <div class="col-s-12">

      <h2 class="useraccount giveitaname">Category "{{categoryName}}" successfully saved!</h2> <br />
      <div class="d-flex justify-content-center">
        <form>
          <button formaction="/newtrip/addcategory" name="tripName" formmethod="post" type="submit" value="{{tripName}}"
            class="btn btn-primary green lighten-3">Add category</button>
        </form>

      </div> <br />


      {{#each castomCostArr}}
      <h3>
        <a> {{this.name}}, </a>
        <a> you spent ${{this.cost}}.00 USD </a> <br />
      </h3>
      {{/each}}

    </div>
  </div>

</div>
